/*specific styles for bootstrapdemo*/
@font-face {
	font-family: Myriad-pro;
	src: url(myriad-pro/MYRIADPRO-REGULAR.OTF);    
    }
.navbar-default .navbar-nav > li > a {
    color: white;

}
body{
    font-family: Myriad-pro;
}
#header{
	/*border-top: 1px solid black;*/
	min-height: 50px;
	margin: 0px;
	background-color: #2292eb;
	color: white;
}

#footer{
	margin-top: 100px;
	min-height: 50px;
	border: 1px solid #cccccc;
	
}
#drop-box{
    float: right;
    color: black;
}
.ad-container{
    /*margin: 10px 90px 0px 90px;*/
    background-color: #2292eb;
}
.announce-box{
    color: #fea46c;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    padding-top:4px;
    min-width: 300px;
}

.task-list{
    padding: 10px;
    color: #2292eb;
}
.task-list:hover{
    padding: 10px;
    color: #cccccc;
}
.input-group{
	float: right;
}
.navbar{
	margin-bottom: 0px;
}
.tasks-box{
	border: 1px solid #cccccc;
	min-height: 200px;
	padding: 0px;
	max-width: 100%;
	min-width: 300px;
}
.analitics-box{
	border-top: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	min-height: 200px;
	padding: 10px;
	min-width: 300px;
}
.big-graph-box{
    max-width: 100%;
    min-width: 200px;
}
.big-rec-box{
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	min-height: 500px;
	padding: 0px;
	
}
.big-user-box{
	border-right:  1px solid #cccccc;
	border-bottom:  1px solid #cccccc;
	border-top: 1px solid #cccccc;
	min-height: 200px;
	padding: 10px;
}
.horizontal-box{
	border: 1px solid #cccccc;
	min-height: 200px;
	padding: 10px;
}
.verticle-box{
	min-height: 50px;
	background: white;
	background-color: #33cc66;
	font-size: 3em;
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	font-family: Myriad-pro;
	padding: 20px;
}
.search-group{
    max-width: 100%;
    min-width: 300px;
}
.green-group{
    float: left;
    margin-left: 0px;
}
.green-group-box{
    border: solid 1px #cccccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888888;

}
.orange-group{
    float: right;
    margin-left: 10px;
}
.orange-group-box{
    border: solid 1px black;
}
.iconbar{
	min-height: 100px;
	background-color: #194b74;
	 background-image: url("app-stripe.png");
	background-repeat: repeat-5;
}

.icons{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.container{
	margin: 10px 90px 0px 90px;
	
	
}

.circle-text{
    color: #cccccc;
    font-size: 12px;
}
#graph-box{
    border-right:1px solid #cccccc;
}

.headings{
	color:#2292eb;
	margin-left: 10px;
}
.settings{
	float: right;
	color: #cccccc;
}
}
.ad-box{
	background-color: #2292eb;
}

.user-box{
    border: solid 1px #cccccc;
    padding: 4px;
    float: right;
    margin-bottom: 10px;
    min-width: 60px;
}
.user-box2{
    border-bottom: solid 1px #cccccc;
}
.circle
{
width:30px;
height: 30px;
border-radius:50%;
font-size:16px;
color: white;
line-height:30px;
text-align:center;	
background:#33cc66;
display: inline-block;
margin-right: 10px;
}
.circle:hover
{
width:30px;
height: 30px;
border-radius:50%;
font-size:16px;
color: white;
line-height:30px;
text-align:center;	
background:#cccccc;
display: inline-block;
margin-right: 10px;
}
.rec-list{
    color: #cccccc;
    max-width: 400px;
    
}
.rec-box{
    margin:20px 0px 20px 0px;
    
}
}
.small-text{
    font-size: 10px;
}
.nav-content{
    float: right;
    color: white;
    margin: 15px 35px 15px 0px;
}